<div>
  <mat-form-field class="search-line">
    <input type="text" matInput placeholder="请输入关键字" #searchInput>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-nav-list>
    <mat-list-item (click)="onClickParentNode($event)">
      <div class="item">
        <a routerLink="/nav1">nav</a>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>

      <mat-nav-list style="width: 100%" (click)="onClickSubNav($event)">
        <mat-list-item (click)="onClickLeafNode()">
          <a matLine routerLink="/test">测试1</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine routerLink="/test">测试2</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-list-item>
  </mat-nav-list>
</div>
